.swiper-detail {
	.detail-image {
		border-radius: 20px;
		min-width: 100%;
		height: 200px;
		object-fit: cover;
	}

	.swiper-pagination {
		position: absolute;
		bottom: 0 !important;
		z-index: 100;
		span {
			width: 8px;
			height: 8px;
			background: #d9d9d9 !important;
			border-radius: 50%;
			margin: 0 4px !important;
		}
		.swiper-pagination-bullet-active {
			background: #232d37;
		}
	}
}
